# ---- global ----
.DS_Store
Thumbs.db

# ---- Python backend ----
venv/
__pycache__/
*.pyc
instance/
*.log
users.db
*.sqlite
*.sqlite3

# ---- Node/React frontend ----
node_modules/
build/
dist/
*.map

# ---- OS/Editor ----
.idea/
.vscode/
*.swp
